


<h1>Register</h1>


<form class="form" action="register" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	First Name: <input type="text" name="firstname">
				
	Last Name: <input type="text" name="lastname">
				
	Email: <input type="email" name="email">
				
	Password: <input type="password" name="password">
				
	Password Confirmation: <input type="password" name="password_confirmation">
				
	<input type="submit" value="Join">
</form>

